name: Gadget CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: development

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy Gadget App from Subfolder
        uses: ./.github/actions/gadget-deploy
        with:
          app: 'stupid-application'
          environment: 'development'
          token: ${{ secrets.GGT_TOKEN }}
          path: 'stupid-application'

          
