name: CI/CD Pipeline

on:
  push:
    branches:
      - main  # or any other branch you want to deploy from

jobs:
  deploy:
    steps:
      - name: Checkout the current repository
        uses: actions/checkout@v4
      - name: Deploy to Gadget Production
        uses: gadget-inc/ggt-deploy-action@v1
        with:
          app: '<your-app-name>'
          environment: '<your-environment>'  # The environment you are deploying to production
          token: ${{ secrets.GGT_TOKEN }} # Add your CLI token
          allow-issues: 'false'  # Optionally, continue deployment even if there are issues
