name: Gadget CI/CD Pipeline

on:
  pull_request:
    branches:
      - main
    types:
      - closed  # Trigger when PR is closed (merged or not)

jobs:
  deploy:
    if: github.event.pull_request.merged == true  # Only run if PR was merged
    runs-on: ubuntu-latest
    environment: development

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy Gadget App from Subfolder
        uses: ./.github/actions/gadget-deploy
        with:
          app: 'stupid-application'
          environment: 'development'
          token: ${{ secrets.GGT_TOKEN }}
          path: 'stupid-application'
